table
{
  /* font-family: Verdana */
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #fafafa;
  border: 1px #6699CC solid;
}

p
{
  max-width: 20cm;
}

ul
{
  max-width: 20cm;
}
