body
{
  background-color: #EEF0F0;
}

table
{
  /* font-family: Verdana */
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  background-color: #fafafa;
  border: 1px #6699CC solid;
}

p
{
  max-width: 20cm;
}

ul
{
  max-width: 20cm;
}

#main 
{
    position: absolute;
    left: 25%;
    right: 25%;
}